In [1]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

from sklearn.linear_model import SGDClassifier, LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score, confusion_matrix, f1_score, classification_report

In [6]:
df = pd.read_csv('labelled_tweets_clean.csv')
df

,Unnamed: 0,Tweet,VADERsentiment
0,0,must blame mr ekandjo ! everything belong swapo .,Negative
1,1,call national flag say belong swapo ? contradi...,Negative
2,2,immanuel benefits swapo wants stay power till ...,Positive
3,3,swanu flag inspired swapo flag ?,Positive
4,4,swapo wants rule enrich pockets like pm. kak b...,Positive
...,...,...,...
143,143,"blame public relations team swapo , tell good ...",Positive
144,144,"mekondjo cases , complaints even taken serious...",Negative
145,145,"swapo ' oshana regional coordinator , samuel n...",Positive
146,146,"cde , ask pres question prepare swapo elective...",Positive
147,147,vulnerable people getting vouchers use agra in...,Negative

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      148 non-null    int64
 1   Tweet           148 non-null    object
 2   VADERsentiment  148 non-null    object
dtypes: int64(1), object(2)
memory usage: 3.6+ KB

In [8]:
df = df.dropna()

In [10]:
df['VADERsentiment'].value_counts()

Positive    79
Negative    44
Neutral     25
Name: VADERsentiment, dtype: int64

In [11]:
binary_df = df[(df['VADERsentiment']==0) | (df['VADERsentiment']==2) ]

In [12]:
df['VADERsentiment'] = np.where(df['VADERsentiment'] == 'Positive', 0, 1)

Empty DataFrame
Columns: [Unnamed: 0, Tweet, VADERsentiment]
Index: []